.App-logo {
	animation: App-logo-spin infinite 20s linear;
}

.content {
   margin-top: 60px;
   min-height: 90vh;
}
.content-item {
   min-height: 90vh;
}
.content-checkout {
   position: fixed;
}

.content-promo, .content-fade {
   opacity: 1;
   animation: fade 1s linear;
}


div.item-content:hover {
	border-color: bisque;
	border-style: solid;
}

.item-blur {
	filter: blur(4px);
}

.icon-size {
	width: 32;
	height: 32;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes fade {
   0% {opacity: 0}
   50% {opacity: 1}
}